<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sup Fucker</title>
</head>
<body>
    <form class="grid" action="/success" method="POST">
        <center>
            {% if open_door %}
            <h3 style="color: blueviolet;">
                Opening door now...
            </h3>
            {% endif %}
        </center>

        <label for="password">Enter the password:</label>
        <input type="password" name="password" id="password">

        <center><input type="submit" class="file_submit" value="Submit"></center>

        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>